body{
    background-image: url(img/fondofut.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    padding: 5px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "header    header"
                         "nav       nav"
                         "contenido ads"
                         "footer    footer";
}
.contenedor .header{
    grid-area: header;
}
.contenedor .nav{
    grid-area: nav;
}
.contenedor .contenido{
    grid-area: contenido;
}
.contenedor .ads{
    grid-area: ads;
}
.contenedor .footer{
    grid-area: footer;
}
